body{
    margin: 0%;
    padding: 0%;
    background-color: red;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22p16x;
    color: aliceblue;
    text-align: center;
    background-image: url(imagenes/fondo.jpg);
    padding: 40px;
    
}
section main{
    margin: 5rem;
    
}
.formulario{
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    
    

}
footer p{
    
        background-color: blue;
        font-size: 28px;
        text-align: center;
        font-family: sans-serif;
        color: aliceblue;
}
