body{
    margin: 0%;
    padding: 0%;
    background-color: red;
}
header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26p16x;
    color: aliceblue;
    
}
section main{
    margin: 3rem;
}
.formulario{
    margin: 1rem;
    padding: 1rem;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    
    
    
}
